# python 3.12.11
# need to install ffmpeg on host machine (`brew install ffmpeg` on macOS)

elevenlabs==0.2.27
ffmpeg-python==0.2.0
hume==0.13.6
openai==2.15.0
pedalboard
pip==24.3.1
pydub
python-dotenv==1.0.0
streamlit-js-eval
soundfile==0.13.1
kokoro
huggingface-hub==0.29.1
matplotlib
streamlit
streamlit-extras


# End? No, the journey does not end here. Death is just another path, one that we all must take. The grey rain curtain of this world rolls back and all turns to silver glass. And then you see it.